.button {
	background-color: $color-pink;
	color: $color-white;
	border: 0;
	font-weight: 700;
	border-radius: $border-radius;
	padding: 0.75em 2em;

	&:hover,
	&:focus {
		background-color: darken($color-pink, 10%);
	}

	&:active {
		margin-bottom: -1px;
	}
}
