.feed {
	padding-top: 2rem;
	padding-bottom: 2rem;

	&__item {
		display: block;
		margin-bottom: 2rem;

		> img {
			max-width: 100%;
		}
	}

	&__item-details {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		.feed__item-user {
			text-align: left;
			float: left;
			width: 50%;
		}

		.feed__item-likes {
			text-align: right;
			float: right;
			width: 50%;
		}
	}

	&__item-user {
		font-weight: 700;
		font-size: 0.875rem;
	}

	&__item-likes {
		font-size: 0.875rem;
	}
}
