.header {
	text-align: center;
	padding: 2rem 1rem;

	h1 {
		margin-top: 0;
	}

	// class added to container to indicate feed has loaded
	.has-loaded & {
		h1 {
			margin-bottom: 0;
		}

		.button {
			display: none;
		}
	}
}
