/**
 * Dynamit Code Day Dribbble Feed
 * @author ?
 */

$max-width: 66rem;
$breakpoint: 48rem;

$color-black: #333;
$color-white: #fff;
$color-pink: #ea4c89;
$color-blue: #3a8bbb;
$color-grey: #9da3a5;

$border-radius: 0.3em;

@import 'mixins/breakpoint';
@import 'mixins/clearfix';

@import 'normalize.css/normalize';
@import 'base/layout';
@import 'base/typography';

@import 'components/header';
@import 'components/button';
@import 'components/feed';
